/* overall styling */
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "ivypresto-text", serif;
    font-size: 22px;
    font-style: normal;
    text-align: left;
    font-weight: 300;
    color: #58575F;
    background-color: #FDF7E7;
}


/* organization styling */
body {
    width: 100%;
}
div {
   background-color: rgba(200,0,0, 0.5);
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* text styling */
h3 {
    font-size: 26px;
    font-weight: 300;
}


/* class styling */
.timerBox {
    display: block;
}
.timerTitle {
    display: flex;
    align-items: center;
}
.timerButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.counterBox {
    display: inline-flex;
    flex-direction: row;
}
.timeButton {
    border: 2px solid #58575F;
    border-radius: 30px;
    padding:0.2rem 0.8rem 0.2rem 0.8rem;
    margin: 0 0.2rem 0 0.4rem;
}