/* overall styling */
* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;

    font-family: "ivypresto-text", serif;
    font-size: 22px;
    font-style: normal;
    text-align: left;
    font-weight: 300;
    color: #58575F;
    background-color: #FDF7E7;
}


/* organization styling */
body {
    margin: 0px;
    width: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0; 
    margin-left: 2rem;
}
main.cardPage {
    margin-top: 8rem;
}
footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    bottom: 2rem;
}
img {
    width: 800px;
}


/* text styling */
h3 {
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 42px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #FDF7E7;
}
main p {
    color: #FDF7E7;
}


/* class styling */
.timerBox {
    display: block;
    margin-top: 2rem;
}
.timerTitle {
    display: flex;
    align-items: center;
}
.timerButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.counterBox {
    display: inline-flex;
    flex-direction: row;
}
.timeButton {
    border: 2px solid #58575F;
    border-radius: 30px;
    padding:0.2rem 0.8rem 0.2rem 0.8rem;
    margin: 0 0.2rem 0 0.4rem;
}
.timeButton:hover {
    background: #F8A1AC;
    transition: transform 0.1s ease-in-out 0s;
}
.timerValues {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-weight: 400;
    font-size: 32px;
}
.footerText {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.darkText {
    color: #58575F;
}

@media screen and (max-width: 600px) {
    html {
        margin: 0px;
        padding: 0px;
    
        font-family: "ivypresto-text", serif;
        font-size: 24px;
        font-style: normal;
        text-align: left;
        font-weight: 300;
        color: #58575F;
        background-color: #FDF7E7;
    }
    .timerBox {
        display: block;
        margin-top: 1rem;
    }
    .timerValues {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        font-weight: 400;
        font-size: 20px;
    }
    .timeButton {
        border: 2px solid #58575F;
        border-radius: 30px;
        line-height: 1.25;
        font-size: 20px;
        padding:0.1rem 0.4rem 0.1rem 0.4rem;
        margin: 0 0.2rem 0 0.4rem;
    }
    .timerButtonBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 0;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 1;
        width: 100%;
        top: 0; 
        margin-left: 0.75rem;
    }
    footer {
        display: flex;
        justify-content: space-between;
        position: fixed;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        width: 100%;
        bottom: 1rem;
    }
    main.cardPage {
        margin-top: 5rem;
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        color: #FDF7E7;
    }
    img {
        width: 355px;
    }
}
